
<nav>
    <div  id="navbar" class="site-title">
      <a href="/"><h1>Blog</h1></a>
    </div>
    <ul>
      <li><a class="active" href="/">Blog</a></li>
      <li><a href="/form">Crear nuevo Blog</a></li>
    </ul>
  </nav>