<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <form action="/api/blog" method="POST">
        <fieldset>
            <legend>Blog creation</legend><br>
            <label for="name">Titulo</label>
            <input type="text" name="title" id="title"><br>
            <label for="type">Snippet</label>
            <input type="text" name="snippet" id="snippet"><br>          
            <input type="submit" value="Crear Blog">
        </fieldset>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>